<%- include('header') %>

<main class="edit-container">
    <h2>Editing Item</h2>

    <form action="/edit/<%= item._id %>" method="POST">
        <label class="upload-label">
            Change Cover Picture
        </label>

        <input type="text" name="title" value="<%= item.title %>" required>
        <input type="text" name="creator" value="<%= item.author || item.producer %>" required>
        <input type="number" name="year" value="<%= item.releaseYear %>" min="1800" max="2099" required>
        <textarea name="description" rows="4" required><%= item.description %></textarea>

        <div class="button-group">
            <a href="/" class="cancel-btn">Cancel</a>
            <button type="submit" class="update-btn">Update</button>
        </div>
    </form>
</main>

<%- include('footer') %>
