<%- include('header') %>

<main>
    <div class="catalog">
        <% if (locals.items && items.length > 0) { %>
            <% items.forEach(item => { %>
                <div class="item">
                    <a href="/details/<%= item._id %>">
                        <img src="/hungergames_movie.jpg" alt="<%= item.title %>">
                    </a>
                    <p><%= item.title %></p>
                </div>
            <% }); %>
        <% } else { %>
            <p>No items found.</p>
        <% } %>
    </div>
</main>

<%- include('footer') %>
